# The language server has a built-in code formatter, courtesy of CppCXY/EmmyLuaCodeStyle
# https://luals.github.io/wiki/formatter/
# https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig

[*.{cc,cpp,c,h}]
indent_size = 4
indent_style = space
